/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
/* #303030
#FFFFFF
#9DA4BD
#FF6C00 */

/* #F7F7F7
#9DA4BD
40%
#555555
#000000 */
:root {
  /* Основные шрифты */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Цвет текста Светлая тема */
  --accent-txt-cl: #ff6c00;
  --primary-light-txt: #555555;
  --secondary-light-txt: #303030;
  /* Цвет текста Темная тема*/
  --primary-dark-txt: #ffffff;
  --secondary-dark-txt: rgba(157, 164, 189, 0.6);
  /*  Цвет фона Светлая тема*/
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #f7f7f7;
  /* Цвет фона Темная тема*/
  --primary-dark-bg: #191c26;
}
body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-light-txt);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-light-txt);
}
.title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-dark-txt);
}
.main-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-dark-txt);
  background-color: transparent;
  cursor: pointer;
}
/* Header */
.header {
  background-color: var(--primary-dark-bg);
}
.nav-link {
  font-family: --main-font;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-dark-txt);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}
.header-phone {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
